<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Upload info</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                Thank you for creating the advertisement. It is currently under moderation and will be visible to all users once approved.
      </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" style="width:10vw; margin-left:45vw">Close</button>
            </div>
    </div>
  </div>
</div>
<script>
    //var modal = document.getElementById("exampleModal");
    //modal.style.display = "block";
</script>